* {
    margin: 0px; padding: 0px;
}
#base {
    width: 1000px;
    margin: 20px auto;
    background-image: url(back.png);
    background-size: 100% 100%;
}

#base .container {
    width: 700px;
    padding: 50px 0;
    display: flex; flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

#base .container article {
    box-sizing: border-box;
    width: 80px; height: 80px;
    margin: 5px;
    border: 3px solid white;
    border-radius: 10px;
    background-color: gray;
    transform: skewx(-14deg);
    overflow: hidden;
    transition: background-color 0.5s;
}

#base .container article img {
    width: 90px; height:80px;
    transform: skew(14deg) translateX(-10px);
}

#base .container article:hover {
    background-color: pink;
    transform:  skewx(-14deg) scale(1.4);
    z-index: 1;
}